@model User
<section>
    <div class="container">
            <div class="row">
               
                <div class="col">
                    <div class="row" style="display: flex">
                        <p>@Model.Name</p><p>[@Model.Role]</p>
                    </div>
                </div>
            </div>
        </div>
</section>